body {
    background-image: url("https://wow.gamepressure.com/gfx/big_maps/map_of_northrend.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 900px;
}

header {
    font-size: 3em;
    font-weight: 900;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}